<div style="font-family: sans-serif; padding: 20px;">
  <h1>Bem-vindo {{name}}!</h1>
  <p>Seu código de acesso é: <strong>{{code}}</strong></p>
  
  {{#if premiumUser}}
    <p>Obrigado por ser um membro Premium!</p>
  {{/if}}
  
  <p>Equipe ...</p>
</div>